/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  
  .flex-list {
    flex-wrap: wrap;
  }
  
  .flex-list li {
    width: 50%;
  }
  
  * {
	   float: none;
	   position: static;
  }
　
  img {
    max-width: 100%;
	  height: auto;
  }
	
}

/* スマホ向けレイアウト */
@media (max-width:670px) {
  /* .flex-listにflex-directionを指定してください */
  .flex-list{
    flex-direction:column;
  }
  
}
