* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  height: 40px;
  width: 100%;
  background-color: rgba(109, 155, 52, 0.7);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-container{
  width:100%;
  padding:0 0 0 15px;
  margin:0 auto;
}

.header-left{
  float:left;
  line-height: 40px;
  height: 40px;
  width:100px;
  text-align:center;
  transition:all 1s;
}

.header-left:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.coffeelogo{
  color:rgba(255, 255, 255, 1);
}

.header-right{
  float:right;
  display:block;
  width:60px;
  height:40px;
  border-radius: 100%;
  transition: all 1s;
}

.bar{
  color:rgba(219, 233, 201, 1);
  text-align: center;
  font-size:25px;
  width:100%;
  margin-top:7px;
}

.header-right:hover{
  background-color: rgba(255, 255, 255, 0.3);
}


.central{
  background-image: url(https://cdn.pixabay.com/photo/2014/01/02/15/30/tunnel-237656_960_720.jpg);
  background-size: cover;
  color: white;
  padding: 180px 0 100px 0;
}

.message{
  letter-spacing:2px;
  text-align:center;
}

.content-explain{
  color:rgba(230, 230, 230, 0.7);
  border:1px solid yellow;
  width: 150px;
  padding: 0px 15px;
  margin: 40px 40px 0 40px;
  font-size:10px;
  font-weight: bold;
}

.contents{
  margin:0px 40px 0 40px;
  display:flex;
  flex-wrap:wrap;
  border:1px solid blue;
}

.content{
  display: inline-block;
  opacity: 0.8;
  border-radius: 15px;
  flex:auto;
  width:50%;
  transition:all 0.5s;
}

.content a{
  color:rgba(255, 255, 255, 0.8);
  padding:8px 24px;
  display:block;
}

.content:hover{
  opacity:1.0;
}

.instagram{
  background-color:rgba(240, 0, 75, 0.8);
  color:white;
}

.twitter{
  background-color:rgba(0, 216, 226, 0.8);
}


.contentblog{
  border:1px solid red;
  margin:0px 40px 0 40px;
  background-color: rgba(10, 155, 52, 0.7);
  border-radius:15px;
  opacity: 0.8;
  transition:all 0.5s;

}
.contentblog a{
  border:1px solid blue;
  display:block;
  border-radius: 15px;
  color:rgba(255, 255, 255, 0.8);
  padding: 8px 24px;
}

.contentblog:hover{
  opacity:1.0;
}

.purpose{
  background-color:rgb(199, 255, 240);
  border:1px solid red;
}

.centence{
  margin:20px 20px;
  font-weight:normal;
  color:rgba(98,133,201,0.9);
  font-size:12px;
  opacity:0.8;
  height:300px;
  border:1px solid yellow;
}

.part{
  float:left;
  padding-bottom:20px;
  border:1px solid purple;
}

.ohana{
  height:150px;
  width:150px;
  border:1px solid blue;
  margin-right:110px;
}
.float{
  margin:5px;
  border:1px solid orange;
}
